#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.

	$(MAKE) 
	$(MAKE) doc
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
#	-$(MAKE) clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/ananas.
	export QTDIR=/usr/share/qt4
	$(MAKE) install \
	INSTALL_ROOT=$(CURDIR)/debian/ananas \
	LIBDIR=/usr/lib \
	BINDIR=/usr/bin \
	DOCDIR=/usr/share/doc/qdataschema \
	INCLUDEDIR=/usr/include/qdataschema
	mkdir -p $(CURDIR)/usr/bin
	mkdir -p $(CURDIR)/${QTDIR}/lib
	mkdir -p $(CURDIR)/${QTDIR}/bin
	mkdir -p $(CURDIR)/${QTDIR}/include/qdataschema
	mkdir -p $(CURDIR)/usr/share/doc/qdataschema/html
	mkdir -p $(CURDIR)/usr/share/doc/qdataschema/html-ru
	mkdir -p $(CURDIR)/usr/share/doc/qdataschema/example
	cp -df ./lib/* $(CURDIR)/${QTDIR}/lib/
	cp -df ./bin/* $(CURDIR)/${QTDIR}/bin/
	cp -f ./src/lib/*.h $(CURDIR)/${QTDIR}/include/qdataschema
	cp -f ./doc/html/* $(CURDIR)/usr/share/doc/qdataschema/html/
	cp -f ./doc/html-ru/* $(CURDIR)/usr/share/doc/qdataschema/html-ru/
	cp -Rdf ./src/example/* $(CURDIR)/usr/share/doc/qdataschema/example/
	cd $(CURDIR)/usr/lib && ln -s qt4/lib/* ./


	# clear debug info
#	strip $(CURDIR)/debian/$(package)/usr/bin/ananas
#	strip $(CURDIR)/debian/$(package)/usr/bin/ananas-designer
#	strip $(CURDIR)/debian/$(package)/usr/lib/libananas.so*
#	strip $(CURDIR)/debian/$(package)/usr/lib/ananas/qt3plugins/designer/libananasplugin.so
#	strip $(CURDIR)/debian/$(package)/usr/lib/ananas/qt3plugins/sqldrivers/libqsqlmysqlu.so
	
	# QSA
	#cp /usr/share/qt3/lib/libqsa* $(CURDIR)/debian/ananas/usr/lib/
# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
